{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
  <div class="row">
{% for movie in movies %}
    <div class="col-4 g-2">

      <div class="card " style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images/kuromibg.png'%}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <p class="card-text">{{movie.content}}</p>
        <a href="{% url 'movies:detail' movie.pk %}" class="btn btn-dark">리뷰 보기</a>
      </div>
    </div>

    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}
